/* BODY */
body {
    margin: 0;
    font-family: sans-serif;
    background: radial-gradient(circle at top, #0f172a, #020617);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* CONTAINER */
#tree {
    width: 100%;
    padding: 20px;
}

/* TITLE */
h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

/* BOBO + BUVI */
.pair {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 20px;
}

/* CARD */
.person {
    flex: 1;
    max-width: 48%;
    height: 230px;

    background: rgba(255,255,255,0.05);
    border-radius: 20px;
    padding: 10px;

    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.1);

    box-shadow: 0 15px 40px rgba(0,0,0,0.7);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* IMAGE */
.person img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 12px;
}

/* NAME */
.person p {
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 16px;
}

/* CHILDREN */
.children {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

/* CHILD CARD */
.childCard {
    height: 200px;
}

/* RESPONSIVE */
@media (max-width: 480px) {
    .person {
        height: 220px;
    }

    .children {
        grid-template-columns: 1fr 1fr;
    }
}
